body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  color: #dedede;
  margin: 0px;
  
}

nav {
  background-image: linear-gradient(to right, rgb(1, 73, 73) 20%, black);
  text-align: center;
}

a {
  color: #dbd9d8;
  text-align: center;
  padding: 2%;
  font-size:25px;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: #d1d0ca;
  color: black;
}

a.active {
  background-color: #197067;
  color: white;
}

a:focus {
  background-color: yellow;
}