* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}

.flex-item {
  width: 200px;
  height: 100px;
  margin: 1px;
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
}

.flex-container {
  height: 400px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  flex-direction: column-reverse;
}

/* Add your code here */
.item1 {
  order: 1;
}

.item2 {
  order: 6;
}

.item3 {
  order: 5;
}

.item4 {
  order: 4;
}

.item5 {
  order: 2;
}

.item6 {
  order: 9;
}

.item7 {
  order: 8;
}

.item8 {
  order: 3;
}

.item9 {
  order: 7;
}

.item10 {
  order: 10;
}
